@charset "utf-8";

.adminPage-container{
	width : 1500px;
/* 	margin : auto; */
	display: flex;
	justify-content: space-between;
}

.reply-form{
	border : 1px solid black;
	width : 100px;
	height: 100px;
}

.adminPage-container > .QnA-content-main{
	display: flex;
	margin-bottom: 40px;
}